footer {
    border-top: 1px solid var(--border);
    padding: 1.4rem 2rem;
    color: var(--muted);

    .footer-flex {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;

        a {
            text-decoration: none;

            &::after {
                content: "\00B7";
                margin-left: .6rem;
                height: 2px;
            }

            +a {
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}