::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--panel);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 12px;
    border: 3px solid var(--panel);

    &:hover {
        background: var(--primary);
    }
}