h1 {
    font-size: 1.9rem;
    margin: 0 0 .25rem
}

h2 {
    font-size: 1.25rem;
    margin: 1.5rem 0 .5rem
}

h3 {
    font-size: 1.05rem;
    margin: 1.25rem 0 .35rem
}

p {
    margin: .5rem 0
}

small,
.muted {
    color: var(--muted)
}

a {
    color: var(--accent)
}