@import "styles/variables";

@import "styles/style";
@import "styles/texts";

@import "components/cookie";
@import "components/scrollbar";
@import "components/nav";
@import "components/btn";
@import "components/faq";
@import "components/footer";